<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokédex | Detalhes</title>
</head>
<body>
    <nav>
        <a id="P" href="/">Pokédex</a>
        <a id="Home" href="/">Home</a>
        <a id="registrar" href="cadastro">Cadastro</a>
    </nav>
    <section id="imagem">
       <img src="<%= pokemon.imagem%>" class="imagem-pokemon" alt="Imagens-Pokémons">
    </section>

    <section id="info">
        <div>
            <p><%= pokemon.descricao %></p>
        </div>
        <div>
            <p>Altura: <%= pokemon.altura %></p>
            <p>Categoria: <%= pokemon.categoria %></p>
            <p>Peso: <%= pokemon.peso %></p>
            <p>Habilidade: <%= pokemon.habilidade %></p>
        </div>
        <div>
            <p>Tipo:</p>
            <p><%= pokemon.tipo %></p>
        </div>
    </section>
    








    
</body>
</html>